:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --green-new-color: #31d0aa;
  --grey-new-color: #8e8f99;
  --white-new-color: #fcfcfc;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

p,
h1,
h2,
h3 {
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  font-style: normal;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  text-align: left;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

header a {
  text-decoration: none;
}

header .web,
header .studio {
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 800;
  letter-spacing: 0.03em;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 156px;
}

.web {
  color: var(--accent-color-iris);
  font-size: 18px;
  line-height: 21px;
}

.studio {
  color: var(--accent-color-text);
  font-size: 18px;
  line-height: 21px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li {
  margin-right: 40px;
}

.main-nav ul li:last-child {
  margin-right: 156px;
}

.main-nav a:hover {
  color: var(--button-color-filters);
}

.index,
.portfolio,
.contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--accent-color-text);
  font-weight: 500;
}

.address a {
  color: var(--accent-color-description);
  font-weight: 400;
  letter-spacing: 0.02em;
}
.address a:hover {
  color: var(--button-color-filters);
}

.hero {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: var(--accent-color-text);
  color: var(--primary-color);
  padding: 100px 0;
}

.hero button {
  background-color: var(--accent-color-iris);
  cursor: pointer;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  border-radius: 4px;
  gap: 10px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero button:hover {
  background-color: var(--button-color-filters);
}

.hero button:active {
  background-color: var(--accent-color-iris);
}

.features h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.features p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color-description);
}

.features {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 24px;
}

.feature {
  list-style: none;
  justify-content: center;
  width: 18%;
}

.what-are {
  justify-content: center;
  margin-bottom: 5%;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.images {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}

.card {
  background-color: var(--accent-color-cloud);
  padding: 100px 0;
  margin-top: 5%;
}

.card team-member1,
.card team-member2,
.card team-member3,
.card team-member4 {
  width: 360px;
  height: 420px;
  border: 1px solid var(--accent-color-filters);
  padding: 0 0 32px 0;
  text-align: center;
}

.our-team {
  justify-content: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.team {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
}

.card ul {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-description);
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.team-member {
  background-color: var(--primary-color);
}

.team-member:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

ul {
  list-style: none;
  display: flex;
}
footer {
  background-color: var(--accent-color-text);
  padding: 50px 0;
  width: 1440px;
  height: 312px;
}

footer p {
  color: var(--accent-color-cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 156px;
}

footer a {
  text-decoration: none;
}

footer .web,
footer .studio {
  text-transform: uppercase;
  width: 115px;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web-footer {
  color: var(--accent-color-iris);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.studio-footer {
  color: var(--accent-color-cloud);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.logo-footer {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 156px;
}
